.home_holder{
}
.home_introduce_holder{
  padding-top: 45vh;
  height: 100vh;
}
.introduce_typist {
  font-size: 18px;
  color: #6d6d6d;
}
.Typist .Cursor {
  display: inline-block;
}
.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}
@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@media (min-width: 414px) {
  .home_introduce_holder{
    padding-top: 40vh;
  }
  .introduce_typist {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .home_introduce_holder{
    padding-top: 30vh;
  }
  .introduce_typist {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  .introduce_typist {
    font-size: 55px;
  }
}

.home_mid_holder{
  padding-top: 10vh;
  height: 100vh;
}
